.filterWrapper {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-text {
    font-weight: 500;
    /* margin-bottom: 5px; */
}

.input {
    width: 80%;
    padding: 5px;
    border: 0.5px solid grey;
    border-radius: 10px;
    font-size: 14px;
}