.contact-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 8px;
    border: 0.5px solid grey;
    border-radius: 40px;
}

.contactName {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

.contactNumber {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
}

.btnDelete {
    width: 70px;
    height: 30px;
    padding: 4px;
    border: 1px solid grey;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    background-color: tomato;
};

.btnDelete:hover {  
    color: white;
    background-color: blue;
}

.btnDelete:focus {
    border: 1px solid rgb(91, 164, 237);
    background-color: blue;
}