.contactList {
    max-height: 310px;
    overflow: auto;
    font-size: 14px;
    font-weight: 500;
}
    
/* .contactListItem {
    display: flex;
    margin-bottom: 10px;
    padding: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} */